@font-face {
	font-family: "Perfect DOS VGA 437";
 	src: url("webfonts/Perfect DOS VGA 437.ttf");
}

* {
	background-color: #000;
	color: #aaa;
	font-family: "Perfect DOS VGA 437", monospace;
	font-size: 24px;
}

body {
	margin: 5px;
	height: calc(100vh - 10px);
	overflow-y: hidden;
	/*-moz-tab-size: 4;*/
}

#command-output:focus,
#command-prompt:focus,
#command-input:focus {
	outline: none;
}

pre#command-output {
	margin: 0;
	border: 0;
	padding: 0;
	width: 100%;
	height: 87px;
	min-height: 0;
	max-height: calc(100% - 40px);
	overflow-y: hidden;
	white-space: pre-wrap; 
    /*word-break: break-word;*/
}

input#command-prompt,
input#command-input {
	float: left;
	border: 0;
	margin: 0;
	padding: 0;
}

input#command-prompt {
	width: 4ch;
}

input#command-input {
	width: calc(100% - 4ch);
}

em {
	color: #fff;
	font-style: normal;
}

.green {
	color: #0a0;
}

.yellow {
	color: #ff5;
}